.jobType {
    font-weight: bold;
}

.sapMPageEnableScrolling {
    background-color: #fff !important;
}

.sapUiBody {
    background-color: #fff !important;
}

.sapMShellGlobalOuterBackground {
    background-color: #fff !important;
}

.sapMShellGlobalInnerBackground {
    background-color: #fff !important;
}

.web-bottom-sheet {
    background-color: #fff;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.text-align-center {
    text-align: center;
}

.data-update-form {
    padding: 40px;;
    background-color: #f8f8f8;
    border-radius: 20px;
    min-width: 100%;
}